cz
*.o
*.a
a.out
main.h
bytecode.c
libczar.a

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Test binaries
tests/arithmetic
tests/bindings
tests/comments
tests/comparison
tests/comprehensive
tests/error_as_value
tests/extension_methods
tests/field_assignment
tests/functions
tests/if_else
tests/logical_operators
tests/methods
tests/new_types
tests/no_semicolons
tests/null_pointer
tests/pointers
tests/structs
tests/types
tests/while
tests/underscore
tests/underscore_edge_cases
example
