name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    name: ${{ matrix.cc }} -std=${{ matrix.std }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        cc: [ gcc, clang ]
        std: [ c11, c17 ]
    steps:
      - uses: actions/checkout@v4
      - name: make test
        run: make test CC=${{ matrix.cc }} STD=${{ matrix.std }}
