name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install -y pkg-config luajit libluajit-5.1-dev
        luajit -v || true
    - name: Test
      run: ./check.sh
