name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    name: ${{ matrix.cc }} -std=${{ matrix.std }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu ] # macos windows
        cc: [ gcc, clang ]
        std: [ c99, c11, c17, c2x ] # c2y
    continue-on-error: false # ${{ matrix.std == 'c2y' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install
        uses: rlalik/setup-cpp-compiler@master
        with:
          compiler: ${{ matrix.cc }}-latest
      - name: Building
        run: make bin lib CC=${{ matrix.cc }} STD=${{ matrix.std }}
      - name: Testing
        run: make test CC=${{ matrix.cc }} STD=${{ matrix.std }}
