name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    name: ${{ matrix.cc }} -std=${{ matrix.std }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        cc: [ gcc, clang, musl-gcc ]
        std: [ c11, c17 ]
    steps:
      - name: Install
        run: |
          sudo apt update -y
          sudo apt install -y build-essential gcc clang musl-tools
      - name: Checkout
        uses: actions/checkout@v4
      - name: Building
        run: make bin lib CC=${{ matrix.cc }} STD=${{ matrix.std }}
      - name: Testing
        run: make test CC=${{ matrix.cc }} STD=${{ matrix.std }}
